/* Responsive CSS */

@media (max-width: 768px) {
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }
    
    /* Header */
    header .container {
        padding-top: 145px;
        padding-bottom: 155px;
    }
    #mainNav {
        display: none;
    }
    .main-search-form {
        width: 95%;
        position: relative;
        margin-top: 88px;
    }
    .main-search-form-text {
        width: 100%;
        border-radius: 14px;
        text-align: left;
        font-size: 23px;
        height: 70px;
        padding: 0 100px 0 30px;
    }
    .main-search-form-btn {
        position: absolute;
        right: 0;
        height: 70px;
        width: 70px;
    }
    .main-search-form-btn > img {
        width: 30px;
        line-height: 70px;
        margin-top: 14px;
    }
    .intro-text-assistant {
        font-size: 1.5em !important;    
    }
    .intro-text {
        padding: 0 5%;
    }
    .intro-text > img {
        width: 100%;
    }
    
    /* Search List */
    .search-list-in {
        width: 100%;
        margin: 50px 0 0 0;
    }
    .search-item {
        width: 100%;
    }
    .search-list-head {
        padding: 0 17%;
    }
    .search-list-head img{
        width: 100%;
    }
    .search-list-assistant {
        font-size: 1.3em;
    }
    .search-item-content > div {
        float: none;
    }
    .search-item-lanked {
        position: absolute;
        right: 0;
        top: 0;
    }
    .search-item-content {
        left: 0;
    }
    .search-item-text {
        position: absolute;
        font-size: 0.7em;
        left: 100px;
    }
    .search-item-text {
        width: 100%;
    }
}











