/* Global */
a, a.active, a:active, a:focus, a:hover {
    color: black;
    text-decoration: none;
}
.navbar {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px 0;
}
.mobile {
    display: none;
}

/* Visual Header */
header {
    background: #f9f9f9;
}
.logo > img {
    width: 80px;
}
.intro-text > .intro-text-assistant {
    color: #5D5D5D;
    font-size: 1.6em;
}
.intro-text > img {
    width: 460px;
    margin-top: 20px;
}
.main-search-form {
    margin-top: 105px;
    width: 100%;
    text-align: center;
    margin:105px auto 0 auto;
}
.main-search-form  {
    width: 960px;
}
.main-search-form-text {
    width: 850px;
    height: 81px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border:none;
    text-align: center;
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.1), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    color: #666666;
    outline: none;
    float: left;
    font-size: 25px;
    padding: 0 15px;
    box-sizing: border-box;
}
.main-search-form-btn {
    width: 110px;
    height: 81px;
    float: left;
    background: #356A84;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: none;
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    outline: none;
}
.main-search-form-btn > img {
    margin-top: 17px;
    width: 35px;
}

/* Shadow line */
.shadow-line {
    width: 100%;
    height: 25px;
    background-image: url(../img/bg_shadow.png);
    position: absolute
}

/* Search List */
#search-list {
    background:#ebebed;
}
.search-list-assistant {
    margin-top: 25px;
    font-size: 1.6em;
    color: #5D5D5D;
}
.search-list-in {
    text-align: center;
    width: 940px;
    margin: 90px auto 0 90px;
}
.search-item {
    width: 445px;
    height: 110px;
    border: none;
    box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8.5px;
    background: #fff;
    position: relative;
    margin-bottom: 30px;
}
.search-item-index {
    position: absolute;
    width: 80px;
    height: 110px;
    background: #425e66;
    border-top-left-radius: 8.5px;
    border-bottom-left-radius: 8.5px;
    text-align: center;
    line-height: 110px;
    color: #ffffff;
    font-size: 3em;
    font-weight: 100;
}
.search-item-content {
    left: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
.search-item-text > span {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    line-height: 110px;
}
.search-item-content > div {
    float: left;
}
.search-item-text {
    width: 269px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
}
.search-item-lanked {
    width: 75px;
    text-align: center;
    line-height: 110px;
}
.search-item-index img {
    height: 35px;
    margin-top: -5px;
}
.search-item-lanked > img {
    float: left;
    margin-top: 50px;
}
.search-item-lanked > span {
    font-size: 2.2em;
    float: left;
    margin-left: 11px;
    margin-top: 3px;
    color: #405fa0;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-weight: 100;
}
.red {
    color: #a52d74 !important;
}
.gray {
    color: #5d5d5d !important;
}

/* Search Box */
#search-box {
    background: linear-gradient(to bottom right, #356a84, #30455f);
/*    display: none;*/
    padding: 41px 0 250px 0;
}
.search-box-line {
    display: none;
}
.search-box-close {
    text-align: center
}
.search-box-dec-wrap {
    text-align: center;
    margin-top: 41px;
}
.search-box-dec {
    width: 782px;
    margin: 0 auto;
    height: 190px;
    border-radius: 13px;
    background: #ffffff;
    position: relative;
    margin-bottom: 20px;
}
.search-box-text {
    width: 642px;
    float: left;
    text-align: left;
    padding: 20px 35px;
}
.search-box-text h3 {
    font-size: 4.5em;
}
.search-box-text p {
    margin-top: 12px;
    color: #5d5d5d;
}
.search-box-btn {
    width: 140px;
    height: 100%;
    float: left;
    background: #f9f9f9;
    border: 1px solid #c6c6c6;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
.search-box-btn button {
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    background: transparent;
}
.search-box-btn button:nth-child(1) {
    border-bottom: 1px solid #c6c6c6;
}
.search-box-btn img {
    margin-top: 13px;
    height: 17px;
}
.search-box-btn p {
    margin-top: 10px;
    font-size: 1.3em;
}
.search-box-more-btn {
    width: 782px;
    height: 93px;
    margin: 30px auto 0 auto;
    background: url(../img/btn_add.png);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 2em;
    outline: none;
    display: none;
}
.search-box-more-form {
    width: 782px;
    height: auto;
    border-radius: 25px;
    position: relative;
    margin: 50px auto 0 auto;
    z-index: 100;
    left: 0;
}
.search-box-more-form-head {
    width: 100%;
    height: 90px;
    background: url(../img/btn_add.png);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #ffffff;
    font-size: 2em;
    font-weight: 100;
    float: left;
    line-height: 90px;
}
.search-box-more-form-head h3 {
    font-size: 1em;
}
.search-box-more-head {
    width: 782px;
    height: 93px;
    margin: 0 auto 0 auto;
    background: url(../img/btn_add.png);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 2em;
    outline: none;
}
.search-box-more-input {
    width: 100%;
    padding: 50px 100px;
    background: #fff;
    text-align: left
}
.search-box-more-input input {
    width: 100%;
    height: 40px;
    color: #919191;
    border: none;
    outline: none;
    font-size: 1.6em;
    border-bottom: 1px solid #898989;
}
.search-box-more-input textarea {
    width: 100%;
    min-height:150px;
    resize: none;
    outline: none;
    margin-top: 15px;
    border: 1px solid #898989;
    border-radius: 10px;
    padding: 10px;    
    font-size: 1.4em;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.search-box-more-input button {
    background: url(../img/btn_ok.png);
    width: 100%;
    border: none;
    background-size: 100% 100%;
    height: 70px;
    border-radius: 15px;
    color: #fff;
    margin-top: 20px;
    font-size: 1.7em;
    outline: none;
}
.search-box-more-foot {
    width: 100%;
    height: 80px;
    background: #e8e8e8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border:none;
    outline: none;
}
.search-box-more-form-in {
    display: none;
}




